/*phone*/
@media screen and (min-width: 320px) and (max-width: 339px){html,body{font-size: 15px;}}
@media screen and (min-width: 340px) and (max-width: 359px){html,body{font-size: 16px;}}
@media screen and (min-width: 360px) and (max-width: 379px){html,body{font-size: 17px;}}
@media screen and (min-width: 380px) and (max-width: 399px){html,body{font-size: 18px;}}
@media screen and (min-width: 400px) and (max-width: 419px){html,body{font-size: 19px;}}
@media screen and (min-width: 420px) and (max-width: 439px){html,body{font-size: 20px;}}
@media screen and (min-width: 440px) and (max-width: 459px){html,body{font-size: 21px;}}
@media screen and (min-width: 460px) and (max-width: 479px){html,body{font-size: 22px;}}
@media screen and (min-width: 480px) and (max-width: 499px){html,body{font-size: 23px;}}
@media screen and (min-width: 500px) and (max-width: 519px){html,body{font-size: 24px;}}
@media screen and (min-width: 520px) and (max-width: 539px){html,body{font-size: 25px;}}
@media screen and (min-width: 540px) and (max-width: 559px){html,body{font-size: 26px;}}
@media screen and (min-width: 560px) and (max-width: 579px){html,body{font-size: 27px;}}
@media screen and (min-width: 580px) and (max-width: 599px){html,body{font-size: 28px;}}
@media screen and (min-width: 600px) and (max-width: 619px){html,body{font-size: 29px;}}
@media screen and (min-width: 620px) and (max-width: 639px){html,body{font-size: 30px;}}
@media screen and (min-width: 640px) and (max-width: 659px){html,body{font-size: 31px;}}
@media screen and (min-width: 660px) and (max-width: 679px){html,body{font-size: 32px;}}
@media screen and (min-width: 680px) and (max-width: 699px){html,body{font-size: 33px;}}
@media screen and (min-width: 700px) and (max-width: 719px){html,body{font-size: 34px;}}
@media screen and (min-width: 720px) and (max-width: 739px){html,body{font-size: 35px;}}
@media screen and (min-width: 320px) and (max-width: 739px){
    .container{width: 20rem;padding:0;margin: 0 auto;overflow: hidden;}
    .hidden{display: none;}
    .show{display: block;}
}
/*tablet*/
@media screen and (min-width: 740px) and (max-width: 759px){html,body{font-size: 36px;}}
@media screen and (min-width: 760px) and (max-width: 779px){html,body{font-size: 37px;}}
@media screen and (min-width: 780px) and (max-width: 799px){html,body{font-size: 38px;}}
@media screen and (min-width: 800px) and (max-width: 819px){html,body{font-size: 39px;}}
@media screen and (min-width: 820px) and (max-width: 839px){html,body{font-size: 40px;}}
@media screen and (min-width: 840px) and (max-width: 859px){html,body{font-size: 41px;}}
@media screen and (min-width: 860px) and (max-width: 879px){html,body{font-size: 42px;}}
@media screen and (min-width: 880px) and (max-width: 899px){html,body{font-size: 43px;}}
@media screen and (min-width: 900px) and (max-width: 919px){html,body{font-size: 44px;}}
@media screen and (min-width: 920px) and (max-width: 939px){html,body{font-size: 45px;}}
@media screen and (min-width: 940px) and (max-width: 959px){html,body{font-size: 46px;}}
@media screen and (min-width: 960px) and (max-width: 979px){html,body{font-size: 47px;}}
@media screen and (min-width: 980px) and (max-width: 999px){html,body{font-size: 48px;}}
@media screen and (min-width: 1000px) and (max-width: 1019px){html,body{font-size: 49px;}}
@media screen and (min-width: 1020px) and (max-width: 1039px){html,body{font-size: 50px;}}
@media screen and (min-width: 1040px) and (max-width: 1059px){html,body{font-size: 51px;}}
@media screen and (min-width: 1060px) and (max-width: 1079px){html,body{font-size: 52px;}}
@media screen and (min-width: 1080px) and (max-width: 1099px){html,body{font-size: 53px;}}
@media screen and (min-width: 1100px) and (max-width: 1119px){html,body{font-size: 54px;}}
@media screen and (min-width: 1120px) and (max-width: 1139px){html,body{font-size: 55px;}}
@media screen and (min-width: 1140px) and (max-width: 1159px){html,body{font-size: 56px;}}
@media screen and (min-width: 1160px) and (max-width: 1179px){html,body{font-size: 57px;}}
@media screen and (min-width: 1180px) and (max-width: 1199px){html,body{font-size: 58px;}}
@media screen and (min-width: 740px) and (max-width: 1199px){
    .container{width: 20rem;padding:0;margin: 0 auto;overflow: hidden;}

}
/*PC*/
@media screen and (min-width: 1200px){
    html,body{font-size: 40px;}
    .media_list a h3{height:48px;font-size: 18px;line-height: 24px;}
    .media_list p.des span{font-size: 14px;}
    .main_right{width: 8.5rem;}
}