/*--------------------------------newsList-----------------------*/
/*广告*/
.ad{width: 100%;height: 2.5rem;margin: 0.5rem 0;}
.ad img{width: 100%;height: 2.5rem;}
.ad1{width: 100%;height: 2.75rem;margin: 0.5rem 0;}
.ad1 img{width: 100%;height: 2.75rem;}
.ad2{width: 100%;height: 1.5rem;margin: 0.5rem 0;}
.ad2 img{width: 100%;height: 1.5rem;}
/*newsList*/
.newsList{width: 100%;margin-top: 0.5rem;}
.newsList .tab{width: 100%;height:20px;padding: 17px 0;overflow: auto;}
.newsList .tab ul{float:left;height: 20px;margin-right:-999em;/*word-break:keep-all;white-space:nowrap;*/}
.tab li{float:left;height: 20px;position: relative;line-height: 20px;}
.tab li a{display: block;height: 100%;padding: 0 20px;border-right: 1px solid #ddd;font-size: 16px;}
.tab li i{position:absolute;top:8px;left:10px;height: 4px;width: 4px;border-radius: 2px;display: none;}
.tab li.active a{color: #f93402;}
.tab li.active i{display: block;}
.tab li:hover a{color: #f93402;}
.tab li:hover i{display: block;}
.list_group{border-top: 1px solid #f0f0f0;}
.list_group .media_list{padding: 0.375rem 0;border-bottom: 1px solid #f0f0f0;height: 3.75rem;position: relative;}
.media_list a{display: block;width: 100%;height: 100%;overflow: hidden;}
.media_list a .media_left{float: left;height: 100%;width: 6rem;margin-right: 0.625rem;}
.media_list a h3{float: left;width: 13.25rem;padding-right: 0.125rem;font-weight: normal;margin-bottom: 0.375rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.media_list a h3.active{color: #f93402;}
.media_list a h3:hover{color: #f93402;}
.media_list p.des{color: #999;height:14px;width: 13.25rem;float: left;}
.media_list p.des span{float:left;color: #999;margin-right: 20px;line-height: 14px;font-size: 12px;}
.media_list p.des span img{float:left;margin-right: 6px;}
.media_list p.view{position: absolute;bottom:0.375rem;left: 6.625rem;}
.media_list p.view span{float:left;color: #999;line-height: 14px;font-size: 14px;}
.media_list p.view span.type{color: #ff9999;padding:6px;border: 1px solid #ff9999;}
.media_list p.view span img{float:left;margin-right: 6px;}

/*文章*/
article{width: 100%;border-bottom: 1px solid #e5e5e5;padding-bottom: 0.25rem;}
article h2{width: 100%;height:2.15rem;line-height: 2.15rem;text-align: center;font-size: 26px;}
article .message{overflow:hidden;padding-bottom: 0.375rem;border-bottom: 1px solid #e5e5e5;margin-bottom: 0.375rem;}
article .time,article .from,article .viewNum{float:left;color: #999;font-size: 14px;line-height: 14px;}
article .time img,article .from img,article .viewNum img{height: 14px;float: left;margin-right: 5px;}
article .time{margin-right:0.25rem;}
article .viewNum{float: right;}
article p{font-size: 16px;}
/*更多相关新闻*/
.moreNews{height: 1.125rem;background-color:#fafafa;margin:0.25rem 0;line-height: 1.125rem;text-align: center;}
.moreNews a{display: block;font-size: 14px;color: #666;}
/*发表评论*/
.writeComment{border: 1px solid #e5e5e5;}
.writeComment h3{height: 1.4rem;line-height: 1.4rem;border-bottom: 1px dashed #e5e5e5;padding: 0 0.5rem;font-size: 16px;}
.writeComment h3 p{float: right;color: #999;font-size: 14px;font-weight: normal;}
.writeComment h3 p span{color: #0099ff;font-weight: normal;}
.writeComment form{margin:0.5rem;border: 1px solid #ccc;border-radius: 3px;}
.writeComment form .top{height:0.55rem;padding: 0.175rem 0.375rem;
    background: -webkit-linear-gradient(top,#fff,#e0e0e0); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#fff,#e0e0e0); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#fff,#e0e0e0); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom,#fff,#e0e0e0); /* 标准写法 */
}
.writeComment form .top div{height: 100%;}
.writeComment form label{line-height: 0.55rem;font-weight: bold;font-size: 14px;float: left;}
.writeComment form input{width:4.5rem;height: 0.55rem;line-height: 0.55rem;background-color: #f7f7f7;border: 1px solid #ccc;float: left;}
.writeComment form span{margin-left:0.25rem;font-size: 14px;color: #666;float: left;}
.writeComment form textarea{display: block;width:100%;padding:0.375rem;height: 2.25rem;background-color: #f7f7f7;border-bottom: 1px solid #ccc;}
.writeComment form .bottom{height:1.3rem;padding: 0 0.375rem;background-color: #fafafa;}
.writeComment form .bottom img{height:0.75rem;float: left;background-color: #fff;margin: 0.275rem 0.125rem;}
.writeComment form .bottom button{width: 2.7rem;height:0.75rem;border: 1px solid #f93402;border-radius: 5px;float: right;background-color: #fff;margin: 0.275rem 0;}
/*评论列表*/
.commentList{border: 1px solid #e5e5e5;border-bottom: none;border-top: none;}
.commentList .commentArticle{padding:0.5rem;border-bottom: 1px solid #e5e5e5;overflow: hidden;}
.commentList .commentArticle>img{float: left;margin-right: 15px;width:1rem;height: 1rem;}
.commentList .commentArticle .name{font-size: 14px;line-height: 20px;float: left;width: 90%;}
.commentList .commentArticle .name span{color: #999;font-size: 14px;}
.commentList .commentArticle .content{font-size: 14px;line-height: 20px;float: left;width: 90%;}
.commentList .commentArticle .btn_group{float: right;height:16px;margin-top:10px;height: 16px;}
.commentList .commentArticle>.btn_group{margin-right: 15px;}
.commentList .commentArticle .btn_group span{float:left;font-size: 14px;display: inline-block;height: 16px;line-height: 16px;}
.commentList .commentArticle .btn_group img{float:left;margin-right: 10px;}
.commentList .commentArticle .btn_group .line{float:left;width: 1px;height: 12px;margin:2px 0.5rem;background-color:#f0f0f0; }
.commentList .commentArticle .commentImg{float:left;width:90%;margin: 0.25rem 0 0.25rem 1.375rem;font-size: 0;}
.commentList .commentArticle .commentImg img{width: 3.4rem;height: 3.4rem;margin:0 0.25rem 0.25rem 0;}
.commentList .commentArticle .commentComment{width: 90%;float: right;border: 1px solid #e5e5e5;margin-top: 0.5rem;}
.commentList .commentArticle .commentComment li{padding: 15px;border-bottom: 1px dashed #e5e5e5;overflow: hidden;}
.commentList .commentArticle .commentComment li:last-child{border-bottom: none;}
.commentList .commentArticle .inputWrap{float: right;border: 1px solid #e5e5e5;margin-top: 0.5rem;height: 0.85rem;padding: 0 0.375rem;}
.commentList .commentArticle .inputWrap img{float:left;width: 0.4rem;height: 0.4rem;margin: 0.2225rem 0.25rem 0.2225rem 0;}
.commentList .commentArticle .inputWrap input{float:left;height: 0.85rem;}
.newsList h2{height: 1.3rem;line-height: 1.3rem;border-top: 2px solid #f93402;border-bottom: 1px solid #e5e5e5;font-size: 16px;}
/*手机端评论*/
.mCommentList{width: 100%; height: 100%;background-color: #f0f0f0; position: fixed;top:0;left:0;z-index:999;display: none;}
.mCommentList .mTitle{border-bottom: 1px solid #999;height: 54px;padding: 0 15px;}
.mCommentList .mTitle button{padding:10px;font-size: 14px;line-height: 14px;margin-top: 10px;border-radius: 3px;}
.mCommentList .mTitle button.submit{float: right;}
.mCommentList textarea{width: 100%;height: 220px;}

@media screen and (min-width: 320px) and (max-width: 739px){
    .media_list a h3{height:36px;font-size: 16px;line-height: 18px;}
    .media_list p.des span{font-size: 12px;}
    article h2{font-size: 18px;}
}
@media screen and (min-width: 740px) and (max-width: 1199px){
    .media_list a h3{height:48px;font-size: 18px;line-height: 24px;}
    .media_list p.des span{font-size: 14px;}
}