*{margin: 0;padding: 0;border:none;font-family:Helvetica,"Microsoft YaHei";color:#333;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}
/*主色*/
.mainBgc{background-color:#f93402;}
.mainC{color:#f93402;}
/*圆角*/
.borderR {border-radius: 4px;}
/*侧滑*/
html,body{width: 100%;transition: transform .5s ease;}
.swipe{transform: translate(-130px, 0);margin-right: -130px;overflow: hidden;}
/*---------------------------header---------------------------*/
header{height: 53px;border-bottom: 1px solid #dadada;padding-top: 9px;position: relative;}
header .container{height: 53px;}
/*logo*/
.logo{float: left;font-size: 0;}
/*nav*/
nav.menu{float:left;margin-left: 50px;}
nav.menu ul{overflow: hidden;}
nav.menu ul li{float: left;margin-right: 10px;}
nav.menu ul li a{display: block;padding:0 15px;height: 52px;line-height: 44px;font-size: 16px;}
nav.menu ul li.active a{color: #f93402;border-bottom: 2px solid #f93402;}
nav.menu ul li:hover a{color: #f93402;border-bottom: 2px solid #f93402;background:none;}
/*search*/
header .search{width: 216px;height: 32px;background-color: #f7f7f7;border-radius: 16px;float: left;margin:6px;}
header .search img{float:left;margin:8px;}
header .search input{float:left;background:none;height: 20px;margin-top: 6px;width: 170px;font-size: 16px;}
/*user*/
header .user{float: right;height: 48px;margin-top: 5px;margin-bottom: 0;}
header .user li{float: left;padding: 0 10px;}
header .user li a{display: block;width: 24px;height: 24px;font-size: 0;}
header .user li img{width: 24px;height: 24px;}
header .user li p{text-align: center;font-size: 12px;margin-bottom: 0;}
/*手机导航*/
.btn{position:absolute;top:0;right:0;z-index:99;height: 100%;display: none;}
.btn li{float:left;width:62px;height:100%;border-left: 1px solid #dadada;text-align: center;position: relative;}
.btn img{width: 40%;position: absolute;top:50%;margin-top: -10px;left:30%;}
nav.phoneMenu{display:none;position: absolute;top:0;right:-130px;width: 130px;height: 100%;background-color: #333333;}
nav.phoneMenu .user{width:100%;height: 62px;background-color: #333333;}
nav.phoneMenu .user li{float: left;width: 50%;height: 100%;text-align: center;}
nav.phoneMenu .user li a{display: block;width: 100%;height: 100%;}
nav.phoneMenu .user li img{height: 20px;margin: 10px 0;}
nav.phoneMenu .user li p{font-size: 12px;color: #fff;margin-top: -4px;line-height: 1;}
nav.phoneMenu .menu_link{width: 100%;}
nav.phoneMenu .menu_link li{width: 100%;height: 41px;text-align: center;}
nav.phoneMenu .menu_link li a{display: block;width:100%;height:100%;color: #fff;line-height: 41px;font-size: 14px;}
nav.phoneMenu .menu_link li.active{background-color: #3d3d3d;border-top: 1px solid #545454;border-bottom: 1px solid #545454;}
/*手机搜索*/
.phone_search{width: 100%;height: 100%;background-color: #ccc;position: absolute;top:0;left:0;z-index: 100;display: none;}
.phone_search form{width: 100%;height: 62px;background-color: #fff;}
.phone_search form input{height: 100%;padding-left: 20px;}
.phone_search button{width: 62px;height: 62px;float:right;background-color: #fff;position: relative;font-size: 26px;}
.phone_search button img{width: 40%;position: absolute;top:50%;margin-top: -10px;left:30%;}
/*---------------------------主体部分---------------------------*/
.main_left{float:left;width: 20rem;}
.main_right{float:right;}
/*面包屑*/
.brand{margin-top: 0.4rem;height: 14px;line-height: 14px;font-size: 14px;}
.brand a{font-size: 12px;line-height: 14px}
/*-----------------------------------------------------------*/
html,body{font-size: 40px;}
.container{width: 29.25rem;padding:0 0.375rem;margin: 0 auto;overflow: hidden;}
.banner{width: 13.25rem;height: 10rem;}
.banner_list li p{font-size: 18px;}
.video{float:right;width: 6.5rem;height: 10rem;}
.video li{width: 100%;height: 4.875rem;}
.media_list a h3{height:48px;font-size: 18px;line-height: 24px;}
.media_list p.des span{font-size: 14px;}
.main_right{width: 8.5rem;}
.features{overflow: hidden;}
.features li{width:2.75rem;height: 2.375rem;margin: 0 0.125rem 0.125rem 0;}
/*footer*/
footer{width: 100%;height: 48px;background-color: #484242;text-align: center;padding: 30px 0;margin-top: 20px;}
footer a,footer p{font-size: 14px;color: #c4bebe;line-height: 19px;}